@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
.menu{
    height: 100vh;
    padding: 5px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid red;
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu::-webkit-scrollbar{
    width: 3px;
}
.menu::-webkit-scrollbar-thumb{
    background-color: rgb(186, 186, 186);
    border-radius: 2px;
}
.menu:hover::-webkit-scrollbar-thumb{
    background-color:gray;
    cursor: pointer;
}

.button{
    width: 95%;
    font-family: 'Ubuntu';
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 5px 0;
    border-radius: 5px;
    color: #929292;
    cursor: pointer;
    user-select: none;
}

.button i{
    font-family: FontAwesome;
    font-size: 24px;
}

.selected{
    color: orange !important;
    background-color: rgba(255, 166, 0, 0.221) !important;
}
.logo{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: start;
    position:relative;
    margin-bottom: 10px;
}
.logo img{
    width: 70%;
    height: 70%;
}
#logo{
    font-family: 'Dancing Script', cursive;
    color:orange;
    font-size:30px;
    position:absolute;
    top: 50%;
    left: 0;
}
@media (max-width:1200px){
    .button i{
      font-size: 18px !important;
    }
    .button{
      height: 60px;
    }
}